@import "tailwindcss";

body {
  background: #f9fafb;
  /* font-family: Arial, Helvetica, sans-serif; */
  @apply font-normal;
}

.heading {
  font-family: "Poppins", sans-serif;
}

.text {
  font-family: "Inter", sans-serif;
}

.gri {
  position: relative;
}

.grid-item {
  position: absolute;
}

.test {
  column-width: 320px;
}

.test img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-inline-end: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.3s ease;
  cursor: pointer;
  will-change: transform;
}
